.venv/
__pycache__/
*.pyc

# Итоговые файлы лабы не коммитим
result_task_*.json
result_task_*.xml

.env
report_task_4_validation_errors.json

# SSH keys
ssh-key
ssh-key.pub
id_ed25519
id_ed25519.pub
*.key
